# PAS Subscription Handler - Docker/Local Development Configuration
spring:
  application:
    name: passubscriptionhandler
  datasource:
    url: jdbc:postgresql://${PAGW_AURORA_WRITER_ENDPOINT:pagw-postgres}:${PAGW_AURORA_PORT:5432}/${PAGW_AURORA_DATABASE:pagw}
    username: ${PAGW_AURORA_USERNAME:pagw}
    password: ${PAGW_AURORA_PASSWORD:pagw123}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: ${PAGW_AURORA_MAX_POOL_SIZE:5}
      minimum-idle: ${PAGW_AURORA_MIN_IDLE:2}
  main:
    allow-bean-definition-overriding: true
  cloud:
    aws:
      region:
        static: ${AWS_REGION:us-east-1}
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID:test}
        secret-key: ${AWS_SECRET_ACCESS_KEY:test}
      sqs:
        endpoint: ${PAGW_AWS_ENDPOINT:http://pagw-localstack:4566}

server:
  port: 8090

pagw:
  application-id: ${PAGW_APPLICATION_ID:passubscriptionhandler}
  aws:
    region: ${AWS_REGION:us-east-1}
    endpoint: ${PAGW_AWS_ENDPOINT:http://pagw-localstack:4566}
    sqs:
      enabled: true
      subscription-handler-queue: ${PAGW_SQS_REQUEST_QUEUE:http://pagw-localstack:4566/000000000000/pagw-subscription-handler-queue}
    s3:
      request-bucket: ${PAGW_S3_REQUEST_BUCKET:pagw-request-local}
      attachments-bucket: ${PAGW_S3_REQUEST_BUCKET:pagw-request-local}
      audit-bucket: ${PAGW_S3_AUDIT_BUCKET:pagw-audit-local}
  encryption:
    kms-enabled: ${PAGW_ENCRYPTION_KMS_ENABLED:true}
    kms-key-id: ${KMS_KEY_ID:alias/pagw-s3-key}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

logging:
  level:
    com.anthem.pagw: DEBUG
    org.springframework.web: DEBUG
    io.awspring.cloud: DEBUG
