# PAGW Attachment Handler - Docker Container Configuration
# Environment variables aligned with Helm deployment templates
spring:
  datasource:
    url: jdbc:postgresql://${PAGW_AURORA_WRITER_ENDPOINT:pagw-postgres}:${PAGW_AURORA_PORT:5432}/${PAGW_AURORA_DATABASE:pagw}?currentSchema=pagw
    username: ${PAGW_AURORA_USERNAME:pagw}
    password: ${PAGW_AURORA_PASSWORD:pagw123}
    hikari:
      maximum-pool-size: ${PAGW_AURORA_MAX_POOL_SIZE:10}
      minimum-idle: ${PAGW_AURORA_MIN_IDLE:2}

  main:
    allow-bean-definition-overriding: true

pagw:
  application-id: ${PAGW_APPLICATION_ID:pasattachmenthandler}
  aws:
    endpoint: ${PAGW_AWS_ENDPOINT:http://pagw-localstack:4566}
    region: ${AWS_REGION:us-east-2}
    aurora:
      writer-endpoint: ${PAGW_AURORA_WRITER_ENDPOINT:pagw-postgres}
      database: ${PAGW_AURORA_DATABASE:pagw}
      port: ${PAGW_AURORA_PORT:5432}
    s3:
      enabled: true
      request-bucket: ${PAGW_S3_REQUEST_BUCKET:pagw-request-local}
      audit-bucket: ${PAGW_S3_AUDIT_BUCKET:pagw-audit-local}
    sqs:
      enabled: true
      attachment-handler-queue: ${PAGW_SQS_REQUEST_QUEUE:}
      request-queue: ${PAGW_SQS_REQUEST_QUEUE:}
      response-queue: ${PAGW_SQS_RESPONSE_QUEUE:}
      dlq: ${PAGW_SQS_DLQ:}

logging:
  level:
    root: INFO
    com.anthem.pagw: DEBUG
